body {
   background-color: #C9C4AB;
   font-family: 'Ubuntu', sans-serif; 
}

/*Removes bullets from list style*/
ul{
    list-style: none;
}

/*Changes list alignment from vertical to horizontal*/
li{
    display: inline
}

img {
    width: 300px;
}

/*Nav flows in line with h1 and is responsive*/
.nav {
    display:flex;
    flex-direction:row;
    margin:0%;
    background-color: #547870;
    justify-content: space-between;
    align-items: flex-end;
}

/*Links for future applications are evenly formated*/
.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 2%;
    align-content:stretch;
    justify-content: space-around;
}

/*first Application will appear larger than the others due to flex basis*/
.app1 {
    flex: 0 1 100rem;
    background-color: #997342;
    border: 5px solid black;
    width: 100%;

}

.app-column {
    width:fit-content;
    background-color: #997342;
    border: 5px solid black;
}

.footer {
    display:flex;
    flex-direction:row;
    margin:0%;
    justify-content: space-between;
    align-items: flex-end;

}