body {
   background-color: #C9C4AB;
   font-family: 'Ubuntu', sans-serif; 
}

ul{
    list-style: none;
}

li{
    display: inline
}

img {
    width: 300px;
}

.nav {
    display:flex;
    flex-direction:row;
    margin:0%;
    background-color: #547870;
    justify-content: space-between;
    align-items: flex-end;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 2%;
    align-content:stretch;
    justify-content: space-around;
}

.app1 {
    flex: 0 1 500px;
    background-color: #997342;
    border: 5px solid black;

}

.app-column {
    width:fit-content;
    background-color: #997342;
    border: 5px solid black;
}

.footer {
    display:flex;
    flex-direction:row;
    margin:0%;
    justify-content: space-between;
    align-items: flex-end;

}